# Lab 1 - Pandas Intro

In [91]:
import pandas as pd
movies_df = pd.read_csv("movie.csv")

## Questions

**0.** What is the average IMDB Score of all the movies?

In [168]:
movies_df = pd.read_csv("movie.csv")

average =  movies_df.imdb_score.mean()
average

6.4374288039056085

**1.** How many movies have "Star Wars" in the movie_title field?

In [167]:
movies_df = pd.read_csv("movie.csv")

star_movies = movies_df.movie_title[movies_df.movie_title.str.contains(pat = "Star Wars")]
len(star_movies)

8

**2.** Which movie has the highest IMDB Score? What is that score?

In [166]:
movies_df = pd.read_csv("movie.csv")

highest_score = movies_df[movies_df.imdb_score == movies_df.imdb_score.max()]
print(highest_score.movie_title)
print(highest_score.imdb_score)

2725    Towering Inferno
Name: movie_title, dtype: object
2725    9.5
Name: imdb_score, dtype: float64

**3**. Which movie has the lowest IMDB Score? What is that score?

In [165]:
movies_df = pd.read_csv("movie.csv")

lowest_score = movies_df[movies_df.imdb_score == movies_df.imdb_score.min()]
print(lowest_score.movie_title)
print(lowest_score.imdb_score)

2789    Justin Bieber: Never Say Never
Name: movie_title, dtype: object
2789    1.6
Name: imdb_score, dtype: float64

**4.** For each director, how many movies have they directed (from this dataset)?

In [164]:
movies_df = pd.read_csv("movie.csv")

df = pd.DataFrame(movies_df, columns= ['director_name'])

duplicate_director = df.pivot_table(columns=['director_name'], aggfunc='size')
duplicate_director

director_name
A. Raven Cruz         1
Aaron Hann            1
Aaron Schneider       1
Aaron Seltzer         1
Abel Ferrara          1
                     ..
Zoran Lisinac         1
Álex de la Iglesia    1
Émile Gaudreault      1
Éric Tessier          1
Étienne Faure         1
Length: 2397, dtype: int64

**5.** What's the average duration of Action movies?

In [162]:
movies_df = pd.read_csv("movie.csv")

action_movies = movies_df[movies_df.genres.str.contains(pat = "Action")]
action_movies.duration.mean()

110.67657657657658

**6.** Which PG-13 movie had the biggest budget?

In [161]:
movies_df = pd.read_csv("movie.csv")

movies_df.drop(movies_df[movies_df.content_rating != "PG-13"].index, inplace = True)

df = pd.DataFrame(movies_df, columns= ['movie_title', "budget"])
df.sort_values(by=["budget"], ascending=False)

                                   movie_title        budget
2294                         Princess Mononoke  2.400000e+09
2305                                  Steamboy  2.127520e+09
3779                                     Tango  7.000000e+08
1     Pirates of the Caribbean: At World's End  3.000000e+08
5                                  John Carter  2.637000e+08
...                                        ...           ...
4679                        Dogtown and Z-Boys           NaN
4754                           Shotgun Stories           NaN
4814                            Heroes of Dirt           NaN
4835                                The Mighty           NaN
4914                          Shanghai Calling           NaN

[1411 rows x 2 columns]

**7.** How many movies were made in each year (title_year)?

In [159]:
movies_df = pd.read_csv("movie.csv")

df = pd.DataFrame(movies_df, columns= ['title_year'])

duplicate_year = df.pivot_table(columns=['title_year'], aggfunc='size')
print (duplicate_year)

title_year
1916.0      1
1920.0      1
1925.0      1
1927.0      1
1929.0      2
         ...
2012.0    214
2013.0    231
2014.0    243
2015.0    211
2016.0     98
Length: 91, dtype: int64

**8.** How many movies had more than 10000 movie_facebook_likes?

In [156]:
movies_df = pd.read_csv("movie.csv")

likes = (movies_df.movie_facebook_likes >= 10000)

len(movies_df[ likes ])

1098


**9.** How many movies have "Tom Hanks" (as actor1, actor2, or actor3)?

In [155]:
movies_df = pd.read_csv("movie.csv")

mask = (
    (movies_df.actor_1_name == "Tom Hanks") | 
    (movies_df.actor_2_name =="Tom Hanks") |
    (movies_df.actor_3_name =="Tom Hanks")
)

#mask = movies_df.actor_1_name.isin(["Kevin Hart", "Dwayne Johnson"])

len(movies_df[ mask ])

28

**10.**  What are the movies and number of voted users (num_voted_users) for movies that have less than 2 faces in the poster (facenumber_in_poster)?

In [154]:
movies_df = pd.read_csv("movie.csv")

movies_df.drop(movies_df[movies_df.facenumber_in_poster >= 2].index, inplace = True)
movies_df = movies_df[movies_df.title_year.notnull()]

df = pd.DataFrame(movies_df, columns= ["movie_title", "num_voted_users"])

df

                                   movie_title  num_voted_users
0                                       Avatar           886204
1     Pirates of the Caribbean: At World's End           471220
2                                      Spectre           275868
3                        The Dark Knight Rises          1144337
5                                  John Carter           212204
...                                        ...              ...
4908                               El Mariachi            52055
4909                           The Mongol King               36
4910                                 Newlyweds             1338
4913                      A Plague So Pleasant               38
4915                         My Date with Drew             4285

[3262 rows x 2 columns]

**11.** What are the directors and number of director facebook likes for movies made beteween 2000 and 2004 (inclusive) sorted in descending order of director facebook likes?

In [169]:
movies_df = pd.read_csv("movie.csv")

movies_df.drop(movies_df[movies_df.title_year >= 2004].index, inplace = True)
movies_df.drop(movies_df[movies_df.title_year <= 2000].index, inplace = True)
movies_df = movies_df[movies_df.title_year.notnull()]

df = pd.DataFrame(movies_df, columns= ['director_name', "director_facebook_likes"])
df.sort_values(by=["director_facebook_likes"], ascending=False)

           director_name  director_facebook_likes
1057   Christopher Nolan                  22000.0
1034       David Fincher                  21000.0
2849   Denzel Washington                  18000.0
322      Martin Scorsese                  17000.0
1587      Clint Eastwood                  16000.0
...                  ...                      ...
3159         Guy Ritchie                      0.0
3147    David Cronenberg                      0.0
3002         Bill Paxton                      0.0
883   Guillermo del Toro                      0.0
2142   Richard Linklater                      0.0

[556 rows x 2 columns]

12. What is the missing values (NaN)?

In [ ]:
movies_df.duration.isna().sum() / len(movies_df)
movies_df.duration.fillna( movies_df.duration.median(), inplace=True )

movies_df.loc[4].duration

0.0